{% extends 'base.html' %}
{% block content %}
<form method="post" action="" role="form" class="form-horizontal">
	{% csrf_token %}
	<div class="form-group" style="margin-top: 30px">
		<div class="col-md-4 col-sm-6">
			<h2 style="margin-top: 0;">{{ person.name }}
				<small style="margin-bottom: 20px;">
					{{ syntax.PERSON }}{{ person.handle }}</small></h2>
		</div>

		<input type="hidden" name="name" type="text" maxlength=254
			value="{{ person.name }}" />

		<div class="col-md-2 col-sm-6">
			<img scr="{{ person.photo }}" class="img-responsive img-thumbnail"
			alt="No image">
		</div>

		<div class="col-md-6 col-sm-12">
			<label for="photo" class="form-label">Photo (url)</label>
			<input id="photo" class="form-control" value="{{ person.photo }}" />
		</div>
	</div>

	<div class="col-md-12">
		<div class="form-group">
			<label for="headline" class="form-label">Headline</label>
			<input id="headline" name="headline" class="form-control"
				value="{{ person.headline }}" />
		</div>

		<div class="form-group">
			<label for="about" class="form-label">About</label>
			<textarea id="about" name="about" class="form-control" rows="3">{{ person.about }}</textarea>
		</div>

		<div class="form-group">
			<label for="email" class="form-label">Email</label>
			<input id="email" name="email" type="email" class="form-control"
				value="{{ person.email }}"/>
		</div>

		<div class="form-group">
			<label for="website" class="form-label">Website</label>
			<input id="website" name="website" class="form-control"
				value="{{ person.website }}" />
		</div>

		<div class="form-group">
			<input type="submit" value="Save" class="btn btn-default" />
		</div>
	</div>
</form>
{% endblock %}
{# vim: set ft=htmldjango ts=2 sw=2 softtabstop=2: #}
