/* body down when navbar gets thick */
body {
	padding-top: 0px;
}

@media (max-width: 767px) {
	body {
		padding-top: 55px;
	}
}

a.badge.tag-T {
	background-color: #CC0022;
}

a.badge.tag-O {
	background-color: #007777;
}

a.badge.tag-P {
	background-color: #DD6600;
}

a.badge.tag-C {
	background-color: #444444;
}

/* Sticky footer styles
-------------------------------------------------- */
html, body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
	height: 60px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
	padding: 60px 15px 0;
}
.container .credit {
	margin: 20px 0;
}

#footer > .container {
	padding-left: 15px;
	padding-right: 15px;
}

code {
	font-size: 80%;
}
