*.swp
*.swo
*~

# Don't include clyphicons yet
search/static/glyphicons-halflings-regular.*

*.sqlite
*.json

*.log
*.pot
*.pyc
*.sql
local_settings.py

.DS_Store

env*
uploads
static
django-summernote
