{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

		<title>{% block title %}Starfish{% endblock %}</title>

    <!-- Bootstrap core CSS -->
		<link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
		<link href="{% static 'search.css' %}" rel="stylesheet">
		<link href="{% static 'bootstrap.icon-large.min.css' %}" rel="stylesheet">
		<script src="{% static 'jquery-2.0.3.min.js' %}"></script>
		<script src="{% static 'api.js' %}"></script>
		<script src="{% static 'interface.js' %}"></script>
		{% block header %}{% endblock %}
  </head>

  <body>
		<div id="lightbox" style="display: none">
			<div class="container"
				onclick="event.cancelBubble=true;">
				<div id="lightbox_content_wrap" class="container" style="display: block;">
					<div id="lightbox_content" style="margin: 40px;">
						{% include 'login.html' %}
					</div>
				</div>
			</div>
		</div>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
					<a class="navbar-brand" href="{% url 'index' %}">
						Starfish <span class="label label-info">beta</span>
					</a>
					<ul class="nav navbar-nav">
						<li><a href="{% url 'browse' %}">Browse</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right pull-right">
            <li>
            {% if user.is_authenticated %}
              <a id="login-btn" style="display:none" onclick="show_login()">Login</a>
              <a id="logout-btn" href='/logout'>Logout</a>
            {% else %}
              <a id="login-btn" onclick="show_login()">Login</a>
              <a id="logout-btn" style="display:none" href='/logout'>Logout</a>
            {% endif %}
						</li>
					</ul>
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
        <div id="msg_success" class="alert alert-success" style='display:none'>
        </div>
        <div id="msg_info" class="alert alert-info" style='display:none'>
        </div>
        <div id="msg_error" class="alert alert-danger" style='display:none'>
        </div>
				{% block content %}
        <div class="page-header">
          <h1>Search</h1>
        </div>
				<span class="icon-large icon-user"></span>
        <p>Lorem ipsum sit... bladibla</p>
				{% endblock %}
			</div>
    </div>

    <div id="footer">
      <div class="container">
				<p class="text-muted credit">&copy; University of Amsterdam - ICTO FNWI
				- icons by <a target=_blank href="http://www.glyphicons.com">glyphicons.com</a></p>
      </div>
    </div>


		<script src="{% static 'bootstrap.min.js' %}"></script>
  </body>
</html>
{# vim: set ft=htmldjango ts=2 sw=2 softtabstop=2: #}
