{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

		<title>{% block title %}Starfish{% endblock %}</title>

    <!-- Bootstrap core CSS -->
		<link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
		<link href="{% static 'search.css' %}" rel="stylesheet">
		<link href="{% static 'bootstrap.icon-large.min.css' %}" rel="stylesheet">
		<script src="{% static 'jquery-2.0.3.min.js' %}"></script>
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
					<a class="navbar-brand" href="#">Starfish</a>
					<ul class="nav navbar-nav navbar-right pull-right">
						<li>
							<a href="#">Login</a>
						</li>
					</ul>
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
				{% block content %}
        <div class="page-header">
          <h1>Search</h1>
        </div>
				<span class="icon-large icon-user"></span>
        <p>Lorem ipsum sit... bladibla</p>
				{% endblock %}
			</div>
    </div>

    <div id="footer">
      <div class="container">
				<p class="text-muted credit">&copy; University of Amsterdam - ICTO FNWI
				- icons by <a href="http://www.glyphicons.com">glypicons.com</a></p>
      </div>
    </div>


		<script src="{% static 'bootstrap.min.js' %}"></script>
  </body>
</html>
{# vim: set ft=htmldjango ts=2 sw=2 softtabstop=2: #}
