{% extends 'base.html' %}
	{% block content %}

<div class="row well" style='margin-bottom: 0px;'>
	<div class="col-lg-10">
		<h1 style='margin: 0px;'>
			{{ event.title }}
		</h1>
		<span class="text-muted">Posted by <a href="/person/{{ event.author.id }}">{{ syntax.PERSON }}{{ event.author.handle }}</a> on {{ event.create_date }}</span>

		{% if event.exp_date %}
			<span class="text-muted pull-right">Valid until {{ event.exp_date }}</span>
		{% endif %}
	</div>
	<div class="col-lg-2" style='padding-top: 20px'>
		<p>
    <a href="/loadquestion?type={{event.type}}&id={{event.id}}" class='btn btn-primary' style='width:100%;'>
				Ask a question
			</a>
		</p>
      {% if search %}
      <p>
        <a class='btn btn-default' href='/?q=%23{{ search.handle }}' style='width:100%;'>
          Searc
        </a>
      </p>
      {% endif %}
	</div>
</div>

{% include 'tag_list.html' %}

<div class="row" style="margin-top: 15px;" >
		{% if event.text %}
			{% if event.links.all|length %}
				<div class="col-lg-9 highlight">
			{% else %}
				<div class="col-lg-12 highlight">
			{% endif %}
			<div class="pull-right well">
				{{ event.date }}<br />
				{{ event.location }}
			</div>
			<h3 style='margin-top: 0px;'>About</h3>
			{% autoescape off %}
			{{ event.text }}
			{% endautoescape %}
			</div>
		{% endif %}
		{% if event.links.all|length %}
			{% if event.text %}
				<div class="col-lg-3" style='padding-right: 0px;'>
					<div class='highlight' style='padding: 20px'>
			{% else %}
				<div class="col-lg-12 highlight">
			{% endif %}
			<h3 style='margin-top: 0px;'>See also</h3>
      {% include 'link_list.html' with item=event%}
			{% if event.about %}
				</div>
			{% endif %}
			</div>
		{% endif %}
</div>

{% endblock %}
{# vim: set ft=htmldjango ts=2 sw=2 softtabstop=2: #}
