{% if results %}
	<table>
	{% for item in results %}
		<tr>
			<td>{{ item.type }}</td>
			<td>{{ item.starred }}</td>
			<td>
				<a href="#">
					{% if item.type == "Person" %}
						{{ item.full_name }}
					{% else %}
						{{ item.title }}
					{% endif %}
				</a></td>
			<td>
			{% for tag in item.tags %}
				<span class="{{ tag.type }}">
					{{ tag.name }}
				</span>
			{% endfor %}
			</td>
		</tr>
	{% endfor %}
	</table>
{% else %}
    <p>Search did not yield any results</p>
{% endif %}

{# vim: set ft=htmldjango: #}
