{% extends 'base.html' %}
{% block content %}
{% include 'searchbox.html' %}
{% if query %}

{% if query != dym_query %}
<div class="alert alert-info">Did you mean: <a href='?q={{ dym_query_raw|urlencode }}'>{{ dym_query|safe }}</a></div>
{% endif %}

{% if special %}
	<div class="row well" onmouseover='this.style.cursor="pointer"'
		onclick='window.location="{{ special.get_absolute_url }}"'>
    {% if special.info %}
        {# Tag #}
		<div class="col-lg-12">
			<h3 style='margin: 0px;'>
				{{ special.info.title }}
				<a href="{{ special.get_absolute_url }}" class="btn btn-info btn-xs">more</a>
			</h3>
			{{ special.info.summary }}
		</div>
    {% else %}
        {# Person #}
		<div class="col-lg-1">
			{% if special.photo %}
			<img class="img-thumbnail" style="max-width: 70px;"
					src="{{ special.photo }}" />
			{% endif %}
		</div>
		<div class="col-lg-11">
			{% if special.title %}
			<h3 style='margin: 0px;'>{{special.title}} {{ special.name }}
				<a href="/person/{{ special.id }}" class="btn btn-info btn-xs">more</a>
			</h3>
			{% else %}
			<h3 style='margin: 0px;'>{{ special.name }}
				<a href="/person/{{ special.id }}" class="btn btn-info btn-xs">more</a>
			</h3>
			{% endif %}

			<p style='text-align: justify'>
				{% autoescape off %}
					{{ special.summary }}
				{% endautoescape %}
			</p>
		</div>
    {% endif %}
	</div>
{% endif %}

<div class="container" style="margin-top: 20px;">
{% if results.Person %}
	{% with results.Person as results %}
		{% include 'groups/person_results.html' %}
	{% endwith %}
{% endif %}

{% if results.GoodPractice %}
	{% with results.GoodPractice as results %}
		{% include 'groups/goodpractice_results.html' %}
	{% endwith %}
{% endif %}

{% if results.Information %}
	{% with results.Information as results %}
		{% include 'groups/information_results.html' %}
	{% endwith %}
{% endif %}

{% if results.Project %}
	{% with results.Project as results %}
		{% include 'groups/project_results.html' %}
	{% endwith %}
{% endif %}

{% if results.Event %}
	{% with results.Event as results %}
		{% include 'groups/event_results.html' %}
	{% endwith %}
{% endif %}

{% if results.Question %}
	{% with results.Question as results %}
		{% include 'groups/question_results.html' %}
	{% endwith %}
{% endif %}

{% else %}
  <img src='/static/images/explanation.png' />
{% endif %}
</div>
{% endblock %}
{# vim: set ft=htmldjango ts=2 sw=2 softtabstop=2: #}
