{% extends 'base.html' %}
{% block content %}
<div class="row">
	<div class="col-lg-2">
		{% if person.photo %}
		<img class="img-thumbnail" style="float: right; max-width: 150px;" src="{{ person.photo }}" />
		<div style='text-align: center; font-style: italic'>{{ syntax.PERSON }}{{ person.handle }}</div>
		{% endif %}
	</div>
	<div class="col-lg-8">
		{% if person.title %}
			<h1>{{person.title}} {{ person.name }}</h1>
		{% else %}
			<h1>{{ person.name }}</h1>
		{% endif %}

		<p class="lead">
			{% autoescape off %}
				{{ person.headline }}
			{% endautoescape %}
		</p>

	</div>
	<div class="col-lg-2" style='padding-top: 20px'>
		<p>
			<a class='btn btn-primary' style='width:120px;'>
				Ask a question
			</a>
		</p>
		{% if person.email %}
		<p>
			<a class='btn btn-default' style='width:120px;' href="mailto:{{ person.name }} <{{ person.email }}>">
				Send an email
			</a>
		</p>
		{% endif %}
		{% if person.website %}
		<p>
			<a class='btn btn-default' style='width: 120px;' href="{{ person.website }}">
				Visit website
			</a>
		</p>
		{% endif %}
	</div>
</div>

<div class="container" style="margin-top: 20px; margin-bottom: 10px;" >

	{% if p %}
  <div class="row">
	<div class="col-lg-2 sidelabel">Pedagogy</div>
	<div class="col-lg-10">
		{% for tag in p %}
			{% if tag.type == 'P' %}
			{% include 'tag.html' with tag=tag %}
			{% endif %}
		{% endfor %}
	</div>
	</div>
	{% endif %}

	{% if t %}
	<div class="row" style="margin-top: 15px;">
	<div class="col-lg-2 sidelabel">Technology</div>
	<div class="col-lg-10">
		{% for tag in t %}
			{% if tag.type == 'T' %}
			{% include 'tag.html' with tag=tag %}
			{% endif %}
		{% endfor %}
	</div>
	</div>
	{% endif %}

	{% if c %}
	<div class="row" style="margin-top: 15px;">
	<div class="col-lg-2 sidelabel">Content</div>
	<div class="col-lg-10">
		{% for tag in c %}
			{% if tag.type == 'C' %}
			{% include 'tag.html' with tag=tag %}
			{% endif %}
		{% endfor %}
	</div>
	</div>
	{% endif %}

	{% if o %}
	<div class="row" style="margin-top: 15px;">
	<div class="col-lg-2 sidelabel">Topic</div>
	<div class="col-lg-10">
		{% for tag in o %}
			{% if tag.type == 'O' %}
			{% include 'tag.html' with tag=tag %}
			{% endif %}
		{% endfor %}
	</div>
	</div>
	{% endif %}
</div>

{% if person.about %}
<div class="row" style="margin-top: 35px;" >
	<div class="col-lg-2 sidelabel">About</div>
		<div class="col-lg-10" id="person-about">
			{% autoescape off %}
			{{ person.about }}
			{% endautoescape %}
		</div>
</div>
{% endif %}

{% if person.links.all|length %}
<div class="row" style="margin-top: 35px;" >
<div class="col-lg-2 sidelabel">Related</div>
<div class="col-lg-10">
	<p>
	<div class="highlight">
		<ul class="list-unstyled" >
		{% for link in person.links.all %}
			<li>
				{% if link.type == "P" %}
					<span class="icon-large icon-user"></span>
				{% elif link.type == "Q" %}
					<span class="icon-large icon-question-sign"></span>
				{% elif link.type == "G" %}
									<span class="icon-large icon-certificate"></span>
				{% elif link.type == "I" %}
					<span class="icon-large icon-info-sign"></span>
				{% elif link.info_type == "R" %}
					<span class="icon-large icon-group"></span>
				{% elif link.info_type == "E" %}
					<span class="icon-large icon-calendar"></span>
				{% endif %}
				<a style="position: relative; bottom: 6px;" href="{{ link.get_absolute_url }}" >{{ link }}</a>
			</li>
		{% endfor %}
	</div>
	</p>
</div>
</div>
{% endif %}

{% endblock %}

{# vim: set ft=htmldjango ts=2 sw=2 softtabstop=2: #}
