{% extends 'base.html' %}
{% block content %}
<h1 style="margin-bottom: 0; margin-left: -41px;" >
	<span style="vertical-align: middle;" class="icon-large icon-user"></span>
	{{ person.full_name }}</h1>
<span class="text-muted">
Handle: <a href="{% url 'person' person.id %}">{{ syntax.PERSON }}{{ person.handle }}</a><br />
Email: <a href="mailto:{{ person.full_name }} <{{ person.email }}>">{{ person.email }}</a>
</span>

<div style="margin-left: -4px; margin-top: 12px; margin-bottom: 25px" >
{% for tag in person.tags.all %}
	{% include 'tag.html' with tag=tag %}
{% endfor %}
</div>

{% if person.photo %}
<img class="img-thumbnail" style="float: right; max-width: 150px;" src="{{ person.photo }}" />
{% endif %}

{% autoescape off %}
{{ person.about }}
{% endautoescape %}

{% endblock %}
{# vim: set ft=htmldjango ts=2 sw=2 softtabstop=2: #}
