{% extends 'base.html' %}
	{% block content %}

<div class="row well" style='margin-bottom: 0px;'>
	<div class="col-lg-10">
		<h1 style='margin: 0px;'>
			{{ project.title }}
		</h1>
		<span class="text-muted">Posted by
			<a href="/person/{{ project.author.id }}">
				{{ syntax.PERSON }}{{ project.author.handle }}
			</a> on {{ project.create_date }}
		</span>

		{% if project.contact %}
		<span class="text-muted pull-right">Contact:
			<a href="{{ project.contact.get_absolute_url }}" >
				{{ syntax.PERSON }}{{ project.contact.handle }}
			</a>
		</span>
		{% endif %}

	</div>
	<div class="col-lg-2" style='padding-top: 20px'>
		<p>
    <a href="/askquestion?type={{project.type}}&id={{project.id}}" class='btn btn-primary' style='width:100%;'>
				Ask a question
			</a>
		</p>
      {% if search %}
      <p>
        <a class='btn btn-default' href='/?q=%23{{ search.handle }}' style='width:100%;'>
          Search
        </a>
      </p>
      {% endif %}
	</div>
</div>

{% include 'tag_list.html' %}

<div class="row" style="margin-top: 15px;" >
		{% if project.text %}
			{% if project.links.all|length %}
				<div class="col-lg-9 highlight">
			{% else %}
				<div class="col-lg-12 highlight">
			{% endif %}
			<h3 style='margin-top: 0px;'>About</h3>
			{% autoescape off %}
			{{ project.text }}
			{% endautoescape %}
			</div>
		{% endif %}
		{% if project.links.all|length %}
			{% if project.text %}
				<div class="col-lg-3" style='padding-right: 0px;'>
					<div class='highlight' style='padding: 20px'>
			{% else %}
				<div class="col-lg-12 highlight">
			{% endif %}
			<h3 style='margin-top: 0px;'>See also</h3>
			{% for link in project.links.all %}
				<div class="row">
					<div class="col-lg-1">
						{% if link.type == "P" %}
							<span class="icon-large icon-user"></span>
						{% elif link.type == "Q" %}
							<span class="icon-large icon-question-sign"></span>
						{% elif link.type == "G" %}
							<span class="icon-large icon-certificate"></span>
						{% elif link.type == "I" %}
							<span class="icon-large icon-info-sign"></span>
						{% elif link.type == "R" %}
							<span class="icon-large icon-group"></span>
						{% elif link.type == "E" %}
							<span class="icon-large icon-calendar"></span>
						{% endif %}
					</div>
					<div class="col-lg-10">
						<a href="{{ link.get_absolute_url }}" >{{ link }}</a>
					</div>
				</div>
			{% endfor %}
			{% if project.about %}
				</div>
			{% endif %}
			</div>
		{% endif %}
</div>

{% endblock %}
{# vim: set ft=htmldjango ts=2 sw=2 softtabstop=2: #}
