{% load staticfiles %}
<div id="search_box" style="margin-top: 50px">
	<form class="form-inline" role="form" method="get" action="/">
	<div class="row">
		<div class="col-lg-2 col-md-0 col-sm-0 col-xs-0"></div>
		<div class="col-lg-7 col-md-10 col-sm-10 col-xs-10">
			<div class="form-group">
				<input type="text" id="search_input" class="form-control" name="q"
				{% if query %}value="{{ query }}" {% endif %}>
			</div>
		</div>
		<div class="col-1">
			<button type="submit" class="btn btn-default">Search</button>
		</div>
	</form>
	</div>
</div>

<script src="{% static 'jquery-ui.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'tag-it.js' %}" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="{% static 'jquery-ui-1.10.3.custom.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'jquery.tagit.css' %}">
<script type='text/javascript'>
	var sample_tags = ['#LearningAnalytics','@NatasaBrouwer','@AndreHeck','@ErwinVanVliet','#TTL'];
	$("#search_input").tagit({
		availableTags: sample_tags,
		caseSensitive: false,
  //  placeholderText: 'e.g. "ICTO FNWI" #LearningAnalytics @NatasaBrouwer'
	})
	$("#search_input").focus();
</script>

<!--
<script src="{% static 'jquery.caret.1.02.min.js' %}"></script>
<script type="text/javascript">
	// Fix jcaret compatability issue
	jQuery.browser={};(function(){jQuery.browser.msie=false;
	jQuery.browser.version=0;if(navigator.userAgent.match(/MSIE ([0-9]+)\./)){
			jQuery.browser.msie=true;jQuery.browser.version=RegExp.$1;}})();

	// Set focus to search input
	var search_input = $("#search_input");
	search_input.focus();

	function getIndices(searchStr, str) {
	    var startIndex = 0, searchStrLen = searchStr.length;
	    var index, indices = [];
	    while ((index = str.indexOf(searchStr, startIndex)) > -1) {
			        indices.push(index);
			        startIndex = index + searchStrLen;
			    }
	    return indices;
	}

	// Track text input
	search_input.data('last', search_input.val());
	search_input.bind("propertychange keyup input paste", function(event){
			if (search_input.data('last') != search_input.val()) {
				search_input.data('last', search_input.val());

				var input = search_input.val();
				caret = search_input.caret().start;
				indices = [-1].concat(getIndices(' ', input));
				console.log(indices);
				if (input.length == caret) {
					var str = input.slice(indices.slice(-1)[0]+1);
					console.log(str);
					$.get('autocomplete?q=' + str, function(data){

						console.log(data);
						// Show autocomplete options
						// Fill with first/best match?
						});
					}
				}
			});
</script>
-->
{# vim: set ft=htmldjango ts=2 sw=2 softtabstop=2: #}
