{% load staticfiles %}
<div id="search_box" style="margin-top: 50px">
	<form class="form-inline" role="form" method="get" action="/">
	<div class="row">
		<div class="col-lg-2 col-md-0 col-sm-0 col-xs-0"></div>
		<div class="col-lg-7 col-md-10 col-sm-10 col-xs-10">
				<input type="text" id="search_input" class="form-control" name="q"
				{% if query %}value="{{ query }}" {% endif %}>
		</div>
		<div class="col-1">
			<button type="submit" class="btn btn-primary" style="margin-top: 2px;"> Search</button>
		</div>
	</form>
	</div>
</div>

<script src="{% static 'jquery-ui.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'tag-it.js' %}" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="{% static 'jquery-ui-1.10.3.custom.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'jquery.tagit.css' %}">
<script type='text/javascript'>
	$("#search_input").tagit({
		caseSensitive: false,
		singleFieldDelimiter: "{{ syntax.DELIM }}",
		autocomplete:{
			source: function(search, cb){
				$.ajax({
					url: "/autocomplete?q="+encodeURIComponent(search.term),
					context: this
				}).done(
					function(choices){
						cb(this._subtractArray(choices, this.assignedTags()))
					})
			}
		}
	})
	$("#search_input").focus();
</script>

{# vim: set ft=htmldjango ts=2 sw=2 softtabstop=2: #}
